node_modules/
.next/
.tools/
src-tauri/target/
src-tauri/binaries/
src-tauri/gen/
*.tsbuildinfo
next-env.d.ts
prisma/dev.db
prisma/dev.db-journal
prisma/test.db
prisma/test.db-journal
prisma/prod.db
prisma/prod.db-journal
.DS_Store
.env
.env.*
!.env.example
npm-debug.log*
